# Codeception Test Suite Configuration

# suite for acceptance tests.
# perform tests in browser using the WebDriver or PhpBrowser.
# If you need both WebDriver and PHPBrowser tests - create a separate suite.

class_name: AcceptanceTester
modules:
    enabled:
        - WebDriver
        - AcceptanceHelper
    config:
        WebDriver:
            browser: firefox
            window_size: maximize
env:
    local:
         modules:
            enabled:
                - Db
            config:
                WebDriver:
                    url: 'http://www.localhost.dev/'
                Db:
                   dsn: 'mysql:host=localhost;dbname=magento_tests'
                   user: 'root'
                   password: '123'
                   dump: 'tests/_data/dump-tests.sql'
                   populate: true
                   cleanup: false